.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.5px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--dropdown-bg-color);
  color: var(--text-color);
  cursor: pointer;
  appearance: none;
}

.dropdown-select option {
  background-color: var(--dropdown-bg-color);
  color: var(--text-color);
}
