.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.pagination-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination select {
  flex-shrink: 0;
  cursor: pointer;
}

.pagination select {
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination select {
    margin-top: 0.5rem;
  }
}
