.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar-input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;

}

.search-bar-input:focus {
  border-color: #60a5fa;
}

.search-bar-button {
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-bar-icon {
  width: 20px;
  height: 20px;
  stroke: #333;
}

.search-bar-button:hover .search-bar-icon {
  stroke: #4caf50;
}
