:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --layout-bg-color: #f8f9fa;
  --toggle-btn-bg: #ebecec;
  --toggle-icon-color: #1a202c;
  --home-highlight-color: #000000;
  --button-bg-color: transparent;
  --button-hover-bg: rgba(0, 0, 0, 0.1);
  --button-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --button-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --table-header-bg: #cececfd3;
  --odd-row-bg: #ffffff;
  --even-row-bg: #f9f9f9;
  --dropdown-bg-color: #ffffff;
  --border-color: #cccccc;
}

[data-theme="dark"] {
  --bg-color: #2d3748;
  --text-color: #ffffff;
  --layout-bg-color: #1a202c;
  --toggle-btn-bg: #404753;
  --toggle-icon-color: #ffffff;
  --home-highlight-color: #000000;
  --button-bg-color: transparent;
  --button-hover-bg: rgba(255, 255, 255, 0.1);
  --button-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  --button-hover-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  --table-header-bg: #47464bb6;
  --odd-row-bg: #3b4252;
  --even-row-bg: #2d3748;
  --dropdown-bg-color: #262d3c;
  --border-color: transparent;
}

[data-theme="dark"] {
  .navbar-logo img {
    filter: invert(1);
  }

  .table th:hover {
    background-color: #5a6474;
    color: #fff;
  }

  .table th:focus {
    background-color: #2d3748;
    outline: 2px solid #3182ce;
    color: #fff;
  }

  .theme-toggle-switch {
    background-color: #3b4552;
  }

  .theme-toggle-switch .icon {
    left: 5px;
  }

  .loader-overlay {
    background-color: var(--layout-bg-color);
  }
}
