:root {
  --home-bg-color: #eeeeee;
  --home-text-color: #000000;
}

[data-theme="dark"] {
  --home-bg-color: #2d3748;
  --home-text-color: #ffffff;
}

.home-container {
  padding: 2rem;
  text-align: center;
  color: var(--home-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.home-content {
  max-width: fit-content;
  margin: 0 auto;
}
