* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: background-color ease, 0.1s;
}

main {
  flex: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: var(--even-row-bg);
}

tr:nth-child(odd) {
  background-color: var(--odd-row-bg);
}

th {
  border: none;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--table-header-bg);
  align-items: center;
  gap: 2rem;
}

th:hover {
  background-color: #aeaeae;
  color: #000;
}

th:focus {
  background-color: #e0e0e0;
  outline: 2px solid #007bff;
  color: #000;
}

th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
  width: 15%;
}

th:nth-child(7),
td:nth-child(7) {
  width: 35%;
}

td {
  border-top: 0.5px solid #b3b3b3;
  border-bottom: 0.5px solid #b3b3b3;
  border-left: none;
  border-right: none;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  color: var(--text-color);
}

.footer {
  background-color: var(--layout-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 2rem 1.5rem;
}

.no-data {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #999999;
}
